<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body"  >
        <div class="row" >
            <img src="assets/images/logo.jpg" 
                 class="img-responsive center-block"
                 style="max-height:500px;padding-bottom:50px;padding-left:100px"/>
        </div>
        <div style="max-height:500px;padding-left:300px">
            <div ><h5 >Avinash Raghuthu</h5>
            <div>
                <a href="https://github.com/avinashraghuthu">github</a>
            </div>
        </div>
    </div>
</div>